<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@4.25.0/styles.min.css" />
    <title>Store Transfer</title>
  </head>
  <body>
    <h2>Select Store to Transfer</h2>
    <%= form_with url: transfer_product_path, method: :post, local: true do |f| %>
      <label for="storeSelect">Choose Target Store:</label>
      <select id="storeSelect" name="target_store">
        <% @other_stores.each do |store| %>
          <option value="<%= store.shopify_domain %>"><%= store.shopify_domain %></option>
        <% end %>
      </select>
      <h2>Products in Current Store</h2>
      <ul>
        <% @products.each do |product| %>
          <li>
            <input type="checkbox" id="product-<%= product.id %>" name="product_ids[]" value="<%= product.id %>">
            <label for="product-<%= product.id %>"><%= product.title %></label>
          </li>
        <% end %>
      </ul>
      <%= f.submit "Transfer Selected Products" %>
    <% end %>
  </body>
</html>
